<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password Form</title>
</head>
<body>
	<section>
		<body>
			<div id="login">
				<div class="container">
					<div id="login-row"
						class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
							<div id="login-box" style="height: 220px;" class="col-md-12">

								<h2 class="text-center my-3">Enter New Password</h2>

								<form th:action="@{/change-password}" method="post">

									<input type="hidden" name="email" th:value="${email}" /> <input
										type="password" name="newPassword"
										placeholder="Enter new password" required />

									<button class="btn btn-primary my-3">Change Password</button>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</section>

</body>
</html>