<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Login Page</title>
</head>
<body>
	<section>
		<body>
			<div id="login">
				<div class="container">
					<div id="login-row"
						class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
							<div id="login-box" style="height: 280px;" class="col-md-12">

								<!-- Email Form -->
								<div class="alert alert-success my-4" role="alert">We have
									Sent OTP to your Email</div>

								<!-- <div th:if="${session.otpSent}"
									class="alert alert-success my-4 text-center">We have sent
									OTP to your Email</div> -->

								<div th:if="${message}"
									th:class="'alert alert-' + ${message.type} + ' my-2 text-center'">
									<span th:text="${message.content}"></span>
								</div>

								<form th:action="@{/verify-otp}" method="post">

									<input type="hidden" name="email" th:value="${email}" /> <input
										type="number" name="otp" class="form-control"
										placeholder="Enter OTP" required />

									<button class="btn btn-success">Verify OTP</button>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</section>

</body>
</html>